legacy-peer-deps=true
### Private NPM Registry
registry=https://nexusdep.codesparks.int/repository/npm-public/

## Please uncomment below options if you have no internet connection
## If required version of below packages is not available uploaded to ProjectConnect, then you have to comment out below setting and configure npm proxy to download it from internet directly
strict-ssl=false
NODE_TLS_REJECT_UNAUTHORIZED=0
## sass_binary_site=https://codesparks.ncs.com.sg/iconnect-tools/node-sass-releases/
## phantomjs_cdnurl=https://codesparks.ncs.com.sg/iconnect-tools/phantomjs/

#proxy=http://proxy.ncs.com.sg:8080
#https-proxy=http://proxy.ncs.com.sg:8080
#no-proxy=localhost,127.0.0.1,10.10.*,20.20.*,10.70.*,190.58,192.168.*,projectconnect.ncs.com.sg

